<div class="wrapp">

  <div class="beefsteak">

  	<app-top-bar></app-top-bar>
    
    <div class="content">
		<div class="hotel-spot">
			<h3 class="hotel"> Hotel near by </h3>
		 	<p> Explore sponsored partner brands</p>
		 </div>

		 <!-- Menu started  -->


		 <div class="menus" 

		      *ngFor ="let hotel of hotels ; index as hotelId" >		      
		      

				<div class="food-list" [routerLink]="['/hotels',hotelId]">						

	 				<span class="ribbon5 best" *ngIf= hotel.new> 
	 					<div class="glow">&nbsp;</div> {{hotel.new}}
	 				</span>

					<div class="img">
						  <img [src]="hotel.img" alt="{{hotel.name}}" >
					</div>

					<div class="food-detail">

						<h5  title="hotel.name + ' details'" > {{ hotel.name }}
							<strong class="active default">
								<div class="heart"></div>
							</strong>
						</h5>

						<p>{{hotel.type}}</p>
						
						<div class="ride">
							<div class="location">			 						
								<div class="vehicle">
	 							<div class="locat">
	 								<i class="fa fa-star"></i>
	 								<strong class="">{{ hotel.rating }} .</strong>
	 								<strong class="">{{ hotel.min }} min .</strong>
	 								<i class="rup"> ₹ </i>
	 								<strong class="">{{ hotel.price }} for {{hotel.many}}</strong>
	 							</div>			 							
								</div>
							</div>
						</div>
					</div>
	 			</div>
		</div>

		</div>
	</div>
</div>

    <!-- <div class="cart-button">
        <a href="#">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </a>
      </div> -->
